$custom-purple: #694ED8;
$custom-purple-darker: #6600CC;


.has-text-custom-purple {
  color: $custom-purple !important;
}

.has-background-custom-purple {
  background-color: $custom-purple !important;
}
