@import "./custom_colors";
.notes {
  height: calc(100% - 70px);
  margin-left: 0px;
  margin-top: 0px;
}
/* Estilizando o menu do react-burger-menu */
.bm-menu {
  background: white; /* fundo do menu */
  padding-top: 10px; /* espaçamento no topo */
}

/* Overlay (fundo escuro ao abrir o menu) */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* Links e itens dentro do menu */
.bm-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bm-menu ul li {
  padding: 10px 20px;
  font-weight: 500;
}

.bm-menu ul li:hover {
  background: #f5f5f5;
}

/* Input Search */
.bm-menu input.input {
  width: 100%;
}
