@import "./custom_colors";

/* BASE */
html,
body,
#root {
  height: 100%;
}

/* CONTAINER RAIZ DO NOTES */
#notes-container {
  position: relative;
  min-height: 100vh;
}

/* ÁREA PRINCIPAL */
.notes {
  margin: 0;
  padding-top: 70px; // altura do header
  min-height: calc(100vh - 70px);
}

/* REACT-BURGER-MENU */
.bm-menu-wrap {
  top: 70px !important;
  height: calc(100vh - 70px) !important;
}

.bm-menu {
  background: white;
  padding-top: 10px;
}

.bm-overlay {
  top: 70px !important;
  height: calc(100vh - 70px) !important;
}

/* BOTÃO DO MENU */
.notes-burger-btn {
  position: fixed;
  top: 85px; // abaixo do header
  left: 1rem;
  z-index: 1200;
}
