@charset 'utf-8';
@import "./styles/custom_colors.scss";

@import "~bulma/sass/utilities/functions";

$custom-colors: (
  "custom-purple": (
    $custom-purple,
  ),
  "custom-purple-darker": (
    $custom-purple-darker,
  ),
);

// Import Bulma styles
@import "~bulma/bulma";
